<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find butia_navigation_launchfiles)/navigate-patrol-sick.launch" />
  <!-- <include file="$(find butia_navigation_launchfiles)/navigate-pioneer3at.launch" /> -->
  <include file="$(find butia_world)/launch/pose_inspection.launch" />
  <include file="$(find butia_door_checking)/launch/wait_door.launch" />

  <node name="hotword_detector_node" pkg="butia_speech" type="detector_hotword_node.py" output="screen" />

  <node name="inspection" pkg="butia_behavior" type="inspection.py" output="screen" />
</launch>